*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Manrope", sans-serif;
}

body {
    background-color: #fff;
}

.container {
    max-width: 577px;
    margin: 114px auto;
    padding: 0 20px;
    position: relative;
   
}

.wrapper .image-wrapper{
    width: 100%;
    height: 168px;
    background-image: url(images/image1.png);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #16151599;
    display: flex;
    align-items: center;
    padding-left: 24px;
   
}

.wrapper .image-wrapper img {
    width: 168px;
    height:45px ;
    
}

.hero-section {
    width: 100%;
    height: 462px;
}
.hero-section .section-content{
    height: 100%;
    padding: 50px;
    box-shadow: 0px 10px 20px 0px #0000001C;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.hero-section .section-content h2 {
    color: #1769FF;
    font-weight: 600;
    font-size: 30px;
}

.hero-section .hero-description{
    color: #000000;
    font-weight: 400;
    font-size: 16px ;
    line-height: 100%;
}

.hero-section  .register-btn{
    font-size: 16px;
    font-weight: 500;    
    width: 316px;
    height: 54px;
    padding: 10px 0;
    background: #1769FF;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.hero-section  .register-btn:hover{
    background: rgb(116, 154, 235);
}

.hero-section .footer{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
     align-items: center;
    font-size: 10px;
    margin-top: -72px;
    width: 100%;
    height: 72px;
    background: #1769FF;
     color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer .footer-btn{
    display: flex;
    gap: 40px;
}
 .footer .btn{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.fa-brands {
    font-size: 18px;
    cursor: pointer;
}

 .fa-brands:hover{
    color: #d4d0e6;
}



 .footer .btn span{
    font-size: 10px;
    
}

.footer .btn p{
    font-size: 16px;
}

.footer .social-links{
    display: flex;
    gap: 15px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .section-content .register-btn{
       width: 100%;
        
    }

    .hero-section .hero-description{
        line-height: 25px;
    }

.hero-section .footer{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
    }

    .hero-section .footer{
        flex-direction:  column;
}





